attrs==23.2.0
branca==0.7.2
certifi==2024.6.2
charset-normalizer==3.3.2
click==8.1.7
click-plugins==1.1.1
cligj==0.7.2
colorama==0.4.6
contourpy==1.1.1
cycler==0.12.1
fiona==1.9.6
folium==0.16.0
fonttools==4.53.0
geopandas==0.13.2
idna==3.7
importlib-metadata==7.1.0
importlib-resources==6.4.0
jinja2==3.1.4
kiwisolver==1.4.5
MarkupSafe==2.1.5
matplotlib==3.7.5
networkx==3.1
numpy==1.24.4
osmnx==1.9.3
packaging==24.0
pandas==2.0.3
pillow==10.3.0
pyparsing==3.1.2
pyproj==3.5.0
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.32.3
shapely==2.0.4
six==1.16.0
tzdata==2024.1
urllib3==2.2.1
xyzservices==2024.6.0
zipp==3.19.2
